@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;1,400&display=swap');

:root{
    --color-one: #463f3a;
    --color-two: #8a817c;
    --color-three: #bcb8b1;
    --color-four: #f4f3ee;
    --color-five: #e0afa0;
    line-height: 1.5;
}

body {
    background-color: var(--color-four);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    color: var(--color-four);
}

nav {
    background-color: var(--color-one);
    padding: 0.5rem;
}

button {
    background-color:var(--color-five);
    border-radius: 0.5rem;
    border-style: none;
    color: var(--color-four);
    flex-grow: 1fr 1fr 1fr;
    height: 50px;
}

h1 {
    font-size: 1.5rem;
}

hr {
    margin: 0;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    
}

button:hover {
    background-color:var(--color-three);
}

.main {
    max-width: 1250px;
    margin: auto;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    margin: 10px;
    border-radius: 1rem;
    overflow-y: scroll;
}

@media screen and (max-width:780px) {
    .main {
        max-width: 500px;
        margin: auto;
    }
}

.gap {
    gap: 10px;
}

.text-center {
    text-align: center;
}

.child {
    
    background-color: var(--color-two);
    padding: 0 1em;
    height: 300px;
    max-height: 500px;
}